@model List<WorkRequestStateModel>

@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-12">


        @if (Model?.Count > 0)
        {
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>İş ile kaydedilen durumlar</h6>
                    <a asp-action="Create" asp-controller="WorkRequestState" asp-route-workRequestId="@ViewBag.WorkRequestId" class="btn btn-primary btn-sm">Yeni Durum Oluştur</a>

                    <a asp-action="ExcelFile" asp-controller="WorkRequestState" asp-route-workRequestId="@ViewBag.WorkRequestId" class="btn btn-success btn-sm">Excel</a>

                    <a asp-action="PdfFile" asp-controller="WorkRequestState" asp-route-workRequestId="@ViewBag.WorkRequestId" class="btn btn-danger btn-sm">PDF</a>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center justify-content-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Description</th>


                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <span class="ps-3 text-xs text-center font-weight-bold ">@item.Description</span>
                                        </td>

                                        <td>
                                            <span class="ps-1 text-xs text-center font-weight-bold">


                                                <a asp-action="Update" asp-controller="WorkRequestState" asp-route-id="@item.Id" asp-route-workRequestId="@ViewBag.WorkRequestId" class="btn btn-warning btn-xs">Güncelle</a>
                                                <a asp-action="Delete" asp-controller="WorkRequestState" asp-route-workRequestId="@ViewBag.WorkRequestId" asp-route-id="@item.Id" class="btn btn-danger btn-xs">Sil</a>


                                            </span>
                                        </td>
                                      


                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="card">
                <!-- Card image -->
                <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
                </div>
                <!-- Card body -->
                <div class="card-body">
                    <h3 class="card-title mb-3">Uyarı</h3>
                    <p class="card-text mb-4">Herhangi bir veri bulunamadı.</p>
                    <a asp-action="Create" asp-controller="WorkRequestState" asp-route-workRequestId="@ViewBag.WorkRequestId" class="btn btn-primary">Yeni Durum Oluştur</a>
                </div>
            </div>
        }





    </div>
</div>